<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>layouts: ex1.html</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet"
              href="../../node_modules/material-components-web/dist/material-components-web.css">
        <style>
            .grid1 {
                --mdc-layout-grid-margin: 40px;
                --mdc-layout-grid-gutter: 16px;
                background-color: #bbbbbb;
            }
            .cell_style1{
                background-color: #cccccc;
            }
        </style>
    </head>
    <body>
        <div class="mdc-layout-grid">
            <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
                <h1>Layouts Example 2</h1>
            </div>
        </div>
        <div class="mdc-layout-grid">
            <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
                <div><a href='https://material.io/components/web/catalog/layout-grids/'>Documentation...</a></div>
            </div>
            <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
                <div><a href='https://material.io/resizer/'>Test with Resizer @ https://192.168.1.13:8181/LearnWebAppsV2/material/layouts/ex2.html...</a></div>
            </div>
            
        </div>
        <div class="mdc-layout-grid grid1">
            <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6 mdc-layout-grid__cell--span-8-tablet">desktop span-6, tablet span-8</div>
            <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4 mdc-layout-grid__cell--span-6-tablet">desktop span-4, tablet span-6</div>
            <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-2 mdc-layout-grid__cell--span-4-phone">desktop span-2, phone span-4</div>
        </div>
        <div class="mdc-layout-grid grid1">
            <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-1">span-1</div>
            <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-1">span-1</div>
            <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-1">span-1</div>
            <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-1">span-1</div>
            <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-1">span-1</div>
            <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-1">span-1</div>
            <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-1">span-1</div>
            <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-1">span-1</div>
            <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-1">span-1</div>
            <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-1">span-1</div>
            <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-1">span-1</div>
            <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-1">span-1</div>
        </div>
        <div class="mdc-layout-grid grid1">
            <div class="cell_style1 mdc-layout-grid__cell mdc-layout-grid__cell--span-1  mdc-layout-grid__cell--span-1-phone">span-1 span-1-phone</div>
            <div class="cell_style1 mdc-layout-grid__cell mdc-layout-grid__cell--span-1  mdc-layout-grid__cell--span-1-phone">span-1 span-1-phone</div>
            <div class="cell_style1 mdc-layout-grid__cell mdc-layout-grid__cell--span-1  mdc-layout-grid__cell--span-1-phone">span-1 span-1-phone</div>
            <div class="cell_style1 mdc-layout-grid__cell mdc-layout-grid__cell--span-1  mdc-layout-grid__cell--span-1-phone">span-1 span-1-phone</div>
            <div class="cell_style1 mdc-layout-grid__cell mdc-layout-grid__cell--span-1  mdc-layout-grid__cell--span-4-phone">span-1 span-4-phone</div>
            <div class="cell_style1 mdc-layout-grid__cell mdc-layout-grid__cell--span-1  mdc-layout-grid__cell--span-4-phone">span-1 span-4-phone</div>
            <div class="cell_style1 mdc-layout-grid__cell mdc-layout-grid__cell--span-1  mdc-layout-grid__cell--span-4-phone">span-1 span-4-phone</div>
            <div class="cell_style1 mdc-layout-grid__cell mdc-layout-grid__cell--span-1  mdc-layout-grid__cell--span-4-phone">span-1 span-4-phone</div>
            <div class="cell_style1 mdc-layout-grid__cell mdc-layout-grid__cell--span-1  mdc-layout-grid__cell--span-4-phone">span-1 span-4-phone</div>
            <div class="cell_style1 mdc-layout-grid__cell mdc-layout-grid__cell--span-1  mdc-layout-grid__cell--span-4-phone">span-1 span-4-phone</div>
            <div class="cell_style1 mdc-layout-grid__cell mdc-layout-grid__cell--span-1  mdc-layout-grid__cell--span-4-phone">span-1 span-4-phone</div>
            <div class="cell_style1 mdc-layout-grid__cell mdc-layout-grid__cell--span-1  mdc-layout-grid__cell--span-4-phone">span-1 span-4-phone</div>
        </div>
    </body>
</html>
