<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>layouts: index.html</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <h1>Layout Grids</h1>
        <div><a href='https://material.io/components/web/catalog/layout-grids/'>Documentation...</a></div>
        <div><a href='ex1.html'>Example 1...</a>
            <ul>
                <li>grids</li>
                <li>column spans</li>
                <li>12 cell default</li>
                <li>margins and gutters</li>
            </ul>
        </div>
        <div><a href='ex2.html'>Example 2...</a>
            <ul>
                <li>Column spans for specific screen sizes</li>
                <li>desktop, tablet or phone</li>
            </ul>
        </div>

    </body>
</html>
